<div id = "firstWrapper"

rightToLeftAnimation
  [duration]="1"
  [delay]="1"

>

    <div id = "first">

        <div class = "title">Hello world, i'm still here</div>
        <div class = "description">Wow it's been over a year since my last blog post
            so here's a quick post to say hello.
        </div>

    </div>

    <div id = "firstShadow"></div>

</div>

<div id = "secondWrapper"

rightToLeftAnimation
  [duration]="1"
  [delay]="1.2"

>

    <div id = "second">

        <div class = "title">Hello world, i'm still here</div>
        <div class = "description">Wow it's been over a year since my last blog post
            so here's a quick post to say hello.
        </div>

    </div>

    <div id = "secondShadow"></div>

</div>

<div id = "thirdWrapper"

rightToLeftAnimation
  [duration]="1"
  [delay]="1.4"

>

    <div id = "third">

        <div class = "title">Hello world, i'm still here</div>
        <div class = "description">Wow it's been over a year since my last blog post
            so here's a quick post to say hello.
        </div>

    </div>

    <div id = "thirdShadow"></div>

</div>
