@font-face {
    src: url(../fonts/Mont-Bold.otf);
    font-family: mont-bold;
}

@font-face {
    src: url(../fonts/Mont-Regular.otf);
    font-family: mont-regular;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
    width: 100%;
    background-color: #f3f3f3;
    position: relative;
}

#first {
    float: left;
    position: relative;
    top: 0%;
    height: 100%;
    width: 30%;
    background-color: #065143;
}

#second {
    float: left;
    height: 100%;
    width: 40%;
    background-color: #129490;
    position: relative;
    z-index: 1;
}

#third {
    float: left;
    position: relative;
    top: 0%;
    height: 100%;
    width: 30%;
    background-color: #70B77E;
    z-index: 0;
}

#registerWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 420px;
    background-color: #f3f3f3;
    border-radius: 20px;
    opacity: 1;
}

#registerText {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-family: mont-bold;
    font-size: 25px;
    white-space: nowrap;
    pointer-events: none;
}

#login {
    font-size: 17px;
    font-family: mont-regular;
    position: absolute;
    text-decoration: none;
    color: black;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#fields {
    height: 70%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#username, #email, #password, #cnfrmPass {
    border: none;
    outline: none;
    background-color: #d3d3d3;
    width: 75%;
    height: 50px;
    color: #f3f3f3;
    font-family: mont-regular;
    font-size: 20px;
    color: black;
    position: absolute;
    text-align: center;
    border-radius: 10px;
}

#username {
    left: 50%;
    transform: translateX(-50%);
}

#email {
    top: 21.5%;
    left: 50%;
    transform: translateX(-50%);
}

#password {
    left: 50%;
    top: 43%;
    transform: translateX(-50%);
}

#cnfrmPass {
    left: 50%;
    top: 64.5%;
    transform: translateX(-50%);
}

::placeholder {
    color: #a9a9a9;
}

#loginBtn {
    width: 75%;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-family: mont-regular;
    font-size: 17px;
    background-color: #438ef1;
    border: none;
    color: #f3f3f3;
    cursor: pointer;
}