<!DOCTYPE html>    
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>    
    </head>

    <body>

        <div id = "container">

            <div id = "first"

            topToBottomAnimation2
            [duration]="1"
            [delay]="1"
            
            ></div>

            <div id = "second"

            topToBottomAnimation
            [duration]="1"
            [delay]="1"
            
            >

                <div id = "registerWrapper"

                fadeInAnimation
                [duration]="1"
                [delay]="2"

                >

                    <div id = "registerText">Create account</div>

                    <div id = "login">Already have an account? <a href = "login.html">Sign in!</a></div>

                    <div id = "fields">

                        <input id = "username" type = "text" name = "Uname" placeholder = "Username">
                        <input id = "email" type = "email" name = "email" placeholder = "E-mail">
                        <input id = "password" type = "password" name = "Pass" placeholder = "Password">
                        <input id = "cnfrmPass" type = "password" name = "cnfrmPass" placeholder = "Confirm password">
                        <button id = "loginBtn" type = "submit">Sign Up</button>

                    </div>

                </div>

            </div>

            <div id = "third"
            
            topToBottomAnimation2
            [duration]="1"
            [delay]="1"
            
            ></div>

        </div>

        <script src = "register.js"></script>

    </body>

</html>
