<div id = "wrapper">

    <div id = "navBar">

        <div id = "siteName">All Blog</div>

        <div id = "navBarCenterWrapper">

            <div id = "recWrapper">

                <div id = "rec1">Recommended</div>
                <div id = "rec2">Recommended</div>

            </div>

            <a href = "Login/login.html"><div id = "subWrapper">

                <div id = "sub1">Subscribed</div>
                <div id = "sub2">Subscribed</div>

            </div></a>

        </div>

        <ul id = "navBarMenu">

            <li><a href = "Login/login.html">My account</a></li>
            <li>Notifications</li>
            <li>Logout</li>

        </ul>

    </div>
</div>
