  <head>
    <meta property="og:url">
  </head>
  <div id = "navBar">

    <div id = "siteNameWrapper">

        <div id = "siteName">All Blog</div>
    
    </div>

    <ul id = "navBarMenu">

        <li class = "navBarEl"><a routerLink="/userprofile" routerLinkActive="active">My account</a></li>
        <li class = "navBarEl"><a routerLink="/post" routerLinkActive="active">Post</a></li>
        <li class = "navBarEl"><a routerLink="/login" routerLinkActive="active">Login</a></li>

    </ul>

</div>
  <div id = "postWrapper"

        rightToLeftAnimation
        [duration]="1"
        [delay]="1"

    >

            <div id = "post">

                <div id = "postContent">

                    <div class = "title">{{post.title}}</div>
                    <div class = "description">{{post.description}}</div>

                    <div class = "detail">Post by: {{post.post_by}}</div>
                    <div class = "detail">Created on: {{post.create_on}}</div>
                    <li *ngFor="let comment of post.comment">{{comment.comment}}
                        {{comment.post_by}}
                        {{comment.create_on}}
                    </li>

                    <form #postComment="ngForm" (ngSubmit)="onSubmit(post._id,postComment)">
        
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="model._id">
                        <input type="text" name="comment" #name="ngModel" [(ngModel)]="model.comment" placeholder="Comment" required>
                        <button type="button" (click)="resetForm(postComment)">Reset</button>
                        <button type="submit" [disabled]="!postComment.valid">Submit</button>
                
                    </form>

                    <button shareButton="facebook">FaceBook</button>
                    <button shareButton="twitter">Twitter</button>
                    <button shareButton="linkedin">LinkedIn</button>

                </div>

            </div>

    </div>

