@font-face {
    src: url(../../assets/Mont-Bold.otf);
    font-family: mont-bold;
}

@font-face {
    src: url(../../assets/Mont-Regular.otf);
    font-family: mont-regular;
}

#navBar {
    width: 100%;
    height: 63px;
    background-color: #f3f3f3;
    position: relative;
}

#siteNameWrapper {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    overflow: hidden;
    width: 77px;
    height: 26px;
    white-space: nowrap;
}

#siteName {
    font-size: 20px;
    font-family: mont-bold;
    position: absolute;
    left: -77px;
}

#siteName a {
    text-decoration: none;
    color: black;
}

#navBarMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

#navBarMenu li {
    display: inline-block;
    margin-left: 50px;
    font-family: mont-regular;
}

#navBarMenu a {
    text-decoration: none;
    color: black;
}

#postWrapper {
    width: 100%;
    height: 92vh;
    background-color: black;
    overflow: hidden;
    position: relative;
}

#postContent {
    margin: 50px 30px 50px 30px;
    /* border: 1px solid red; */
}

#title {
    font-family: mont-bold;
    font-size: 50px;
    color: #f3f3f3;
}

#description {
    font-family: mont-regular;
    font-size: 20px;
    color: #f3f3f3;
}

.detail {
    font-family: mont-regular;
    color: #f3f3f3;
}

form {
    /* border: 1px solid red; */
    width: 20%;
}

#comments {
    color: #f3f3f3;
    font-family: mont-regular;
}

.comment-list {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #f3f3f3;
    font-family: mont-regular;
}

#comment-field {
    color: #f3f3f3;
    font-family: mont-regular;
}

#submit-button, #reset-button {
    font-family: mont-regular;
    background: none;
    color: #f3f3f3;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 30px;
    /* border: 1px solid red; */
    transition: all 0.3s;
    margin-right: 30px;
    margin-bottom: 30px;
}

#submit-button:hover {
    background-color: #f3f3f3;
    color: black;
}

#reset-button:hover {
    background-color: #f3f3f3;
    color: black;
}

#fb-button, #tw-button, #li-button {
    font-family: mont-regular;
    background: none;
    color: #f3f3f3;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 30px;
    /* border: 1px solid red; */
    transition: all 0.3s;
    margin-right: 30px;
}

#fb-button:hover {
    background-color: #f3f3f3;
    color: black;
}

#tw-button:hover {
    background-color: #f3f3f3;
    color: black;
}

#li-button:hover {
    background-color: #f3f3f3;
    color: black;
}