@font-face {
    src: url(../../assets/Mont-Bold.otf);
    font-family: mont-bold;
}

@font-face {
    src: url(../../assets/Mont-Regular.otf);
    font-family: mont-regular;
}
#container {
    height: 100vh;
    width: 100%;
}

#left {
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    float: left;
    background-color: #1B263B;
}

#right {
    height: 100%;
    width: 50%;
    background-color: #415A77;
    position: relative;
    float: left;
}
input{
    font-family: mont-regular;
    color:white;
}
table {
    color: #f3f3f3;
}
th{
    font-family: mont-bold;
}
td{
    font-family: mont-regular;
}
