<div id = "navBar">

  <div id = "siteNameWrapper">

    <div id = "siteName"><a routerLink = "/home">All Blog</a></div>
  
  </div>

  <ul id = "navBarMenu">

      <li class = "navBarEl"><a routerLink="/userprofile" routerLinkActive="active">My account</a></li>
      <li class = "navBarEl"><a routerLink="/post" routerLinkActive="active">Post</a></li>
      <li class = "navBarEl"><a routerLink="/login" routerLinkActive="active">Login</a></li>

  </ul>

</div>
<div id = "container">

  <div id = "left">

    <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
      
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="model._id">
      <input type="hidden" name="post_by" #_id="ngModel" [(ngModel)]="model.post_by">
      <input class = "stagger" type="text" name="title" #name="ngModel" [(ngModel)]="model.title" placeholder="Enter post title" required>
      <input class = "stagger" type="text" name="description" #name="ngModel" [(ngModel)]="model.description" placeholder="Description">
      <button class = "stagger" id = "submit-button" type="submit" [disabled]="!postForm.valid">Submit</button>
      <button class = "stagger" id = "reset-button" type="button" (click)="resetForm(postForm)">Reset</button>

    </form>

  </div>

  <div id = "right">

    <table class="responsive-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let post of postService.post">
        <td>{{post.title}}</td>
        <td>{{post.description}}</td>
        <td>
            <a class="action-btn" (click)="onEdit(post)">
              <i class="material-icons">edit</i>
            </a>
            <a class="action-btn" (click)="onDelete(post._id,postForm)">
              <i class="material-icons">delete</i>
            </a>
          </td>
      </tr>
    </table>

  </div>

</div>