@font-face {
    src: url(../../assets/Mont-Bold.otf);
    font-family: mont-bold;
}

@font-face {
    src: url(../../assets/Mont-Regular.otf);
    font-family: mont-regular;
}

#container {
    height: 92vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#left {
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    position: absolute;
    background-color: #5C6D70;
}

#right {
    height: 100%;
    width: 50%;
    background-color: #484A47;
    position: absolute;
    left: 50%;
    overflow: hidden;
}

input {
    font-family: mont-regular;
    color: #f3f3f3;
}

table {
    position: absolute;
    color: #f3f3f3;
    margin-left: 30px;
    margin-top: 20px;
    width: 90%;
}

th {
    font-family: mont-bold;
}

td {
    font-family: mont-regular;
}

#navBar {
    width: 100%;
    height: 63px;
    background-color: #f3f3f3;
    position: relative;
}

#siteNameWrapper {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    overflow: hidden;
    width: 77px;
    height: 26px;
    white-space: nowrap;
}

#siteName {
    font-size: 20px;
    font-family: mont-bold;
    position: absolute;
    left: -77px;
}

#siteName a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#navBarMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

#navBarMenu li {
    display: inline-block;
    margin-left: 50px;
    font-family: mont-regular;
}

#navBarMenu a {
    text-decoration: none;
    color: black;
}

form {
    /* border: 1px solid red; */
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    width: 30%;
}

#submit-button, #reset-button {
    font-family: mont-regular;
    background: none;
    color: #f3f3f3;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 30px;
    /* border: 1px solid red; */
    transition: all 0.3s;
    margin-right: 30px;
}

#submit-button:hover {
    background-color: #f3f3f3;
    color: black;
}

#reset-button:hover {
    background-color: #f3f3f3;
    color: black;
}

.title {
    font-family: mont-bold;
    font-size: 50px;
    color: #f3f3f3;
}

.description {
    font-family: mont-regular;
    font-size: 20px;
    color: #f3f3f3;
}

.detail {
    font-family: mont-regular;
    color: #f3f3f3;
}
