<!DOCTYPE html>    
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In</title>    
    </head>

    <body>

        <div id = "container">

            <div id = "first"
            
            topToBottomAnimation
            [duration]="1"
            [delay]="1"
            
            ></div>

            <div id = "second"
            
            topToBottomAnimation
            [duration]="1"
            [delay]="1.2"

            >

                <div id = "loginWrapper"
                
                fadeInAnimation
                [duration]="1"
                [delay]="2.4"

                >

                    <div id = "loginText">Sign Into Your Account</div>

                    <div id = "register">Don't have an account? <a href = "register.html">Sign up!</a></div>

                    <div id = "fields">

                        <input id = "username" type = "text" name = "Uname" placeholder = "Username">
                        <input id = "password" type = "password" name = "Pass" placeholder = "Password">
                        <button id = "loginBtn" type = "submit">Sign In</button>

                    </div>

                    <a href = "#"><div id = "frgtPassWrapper">

                        <div id = "pass1">Forgot your password?</div>
                        <div id = "pass2">Forgot your password?</div>

                    </div></a>

                </div>
                
            </div>

            <div id = "third"
            
            topToBottomAnimation
            [duration]="1"
            [delay]="1.4"
            
            ></div>

        </div>

        <script src = "login.js"></script>

    </body>

</html>
