<div id = "navBar">

    <div id = "siteNameWrapper">

        <div id = "siteName">All Blog</div>
    
    </div>

    <div id = "navBarCenterWrapper">

        <div class = "navBarEl" id = "recWrapper">

            <div id = "rec1">Recommended</div>
            <div id = "rec2">Recommended</div>

        </div>

        <a href = "Login/login.html"><div class = "navBarEl" id = "subWrapper">

            <div id = "sub1">Subscribed</div>
            <div id = "sub2">Subscribed</div>

        </div></a>

    </div>

    <ul id = "navBarMenu">

        <li class = "navBarEl" ><a href = "src\index.html">My account</a></li>
        <li class = "navBarEl">Notifications</li>
        <li class = "navBarEl">Logout</li>

    </ul>

</div>