@font-face {
    src: url(../../../assets/Mont-Bold.otf);
    font-family: mont-bold;
}

@font-face {
    src: url(../../../assets/Mont-Regular.otf);
    font-family: mont-regular;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
    width: 100%;
    background-color: #f3f3f3;
    position: relative;
}

#first {
    float: left;
    height: 0%;
    width: 30%;
    background-color: #167c80;
}

#second {
    float: left;
    height: 0%;
    width: 40%;
    background-color: #a2c5bf;
    position: relative;
}

#third {
    float: left;
    height: 0%;
    width: 30%;
    background-color: #0082c8;
}

#loginWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 420px;
    background-color: #f3f3f3;
    border-radius: 20px;
    opacity: 0;
}

#loginText {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: mont-bold;
    font-size: 25px;
    white-space: nowrap;
    pointer-events: none;
}

#register {
    font-size: 17px;
    font-family: mont-regular;
    position: absolute;
    text-decoration: none;
    color: black;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#fields {
    height: 60%;
    width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.validation-message {
    font-size: 20px;
    font-family: mont-regular;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#username, #password {
    border: none;
    outline: none;
    background-color: #d3d3d3;
    width: 75%;
    height: 50px;
    color: #f3f3f3;
    font-family: mont-regular;
    font-size: 20px;
    color: black;
    position: absolute;
    text-align: center;
    border-radius: 10px;
}

#username {
    left: 50%;
    transform: translateX(-50%);
}

#emailVal {
    height: 50px;
    width: 280px;
    position: absolute;
    left: 93%;
    white-space: nowrap;
    background-color: #FF5154;
    border-radius: 10px;
}

#password {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#passVal {
    height: 50px;
    width: 280px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 93%;
    white-space: nowrap;
    background-color: #FF5154;
    border-radius: 10px;
}

#alertWrapper {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 93%;
    height: 50px;
    width: 280px;
    white-space: nowrap;
    background-color: #FF5154;
    border-radius: 10px;
    z-index: -1;
    display: none;
    color: #f3f3f3;
    font-family: mont-regular;
    font-size: 20px;
}

.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

::placeholder {
    color: #a9a9a9;
}

#loginBtn {
    width: 75%;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-family: mont-regular;
    font-size: 17px;
    background-color: #438ef1;
    border: none;
    color: #f3f3f3;
    cursor: pointer;
}

#frgtPassWrapper {
    font-size: 17px;
    font-family: mont-regular;
    position: absolute;
    height: 21px;
    width: 200px;
    text-decoration: none;
    color: black;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
}

#pass1, #pass2 {
    position: absolute;
}

#pass2 {
    top: 18px;
}