<div id = "navBar">

    <div id = "siteNameWrapper">

        <div id = "siteName">All Blog</div>
    
    </div>

    <ul id = "navBarMenu">

        <li class = "navBarEl"><a routerLink="/userprofile" routerLinkActive="active">My account</a></li>
        <li class = "navBarEl"><a routerLink="/post" routerLinkActive="active">Post</a></li>
        <li class = "navBarEl"><a routerLink="/login" routerLinkActive="active">Login</a></li>

    </ul>

</div>

<div *ngFor="let post of postService.post">

    <div class = "post-wrapper">

        <div id = "postContent" routerLink="/postpage/{{post._id}}" routerLinkActive="active">

            <div class = "title">{{post.title}}</div>
            <div class = "description">{{post.description}}</div>

            <div class = "detail">Post by: {{post.post_by}}</div>
            <div class = "detail">Created on: {{post.create_on}}</div>

        </div>

    </div>

</div>