<div id = "navBar">

    <div id = "siteNameWrapper">

        <div id = "siteName">All Blog</div>
    
    </div>

    <div id = "navBarCenterWrapper">

        <div class = "navBarEl" id = "recWrapper" (mouseenter) = "fOn1()" (mouseleave) = "fOff1()">

            <div id = "rec1">Recommended</div>
            <div id = "rec2">Recommended</div>

        </div>

        <a href = "Login/login.html"><div class = "navBarEl" id = "subWrapper" (mouseenter) = "fOn2()" (mouseleave) = "fOff2()">

            <div id = "sub1">Subscribed</div>
            <div id = "sub2">Subscribed</div>

        </div></a>

    </div>

    <ul id = "navBarMenu">

        <li class = "navBarEl" ><a routerLink="/userprofile" routerLinkActive="active">My account</a></li>
        <li class = "navBarEl"><a routerLink="/post" routerLinkActive="active">Post</a></li>
        <li class = "navBarEl"><a routerLink="/login" routerLinkActive="active">Login</a></li>

    </ul>

</div>

<div *ngFor="let post of postService.post">

    <div id = "firstWrapper"

        rightToLeftAnimation
        [duration]="1"
        [delay]="1"

    >

            <div id = "first">

                <div class = "title">{{post.title}}</div>
                <div class = "description">{{post.description}}</div>
                <li *ngFor="let comment of post.comment">{{comment.comment}}</li>

                <form #postComment="ngForm" (ngSubmit)="onSubmit(post._id,postComment)">
      
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="model._id">
                    <input type="text" name="comment" #name="ngModel" [(ngModel)]="model.comment" placeholder="Comment" required>
                    <button type="button" (click)="resetForm(postComment)">Reset</button>
                    <button type="submit" [disabled]="!postComment.valid">Submit</button>
              
                </form>

            </div>

    </div>

</div>



