<div id = "navBar">

    <div id = "siteNameWrapper">

        <div id = "siteName"><a routerLink = "/home">All Blog</a></div>
    
    </div>

    <ul id = "navBarMenu">

        <li class = "navBarEl"><a routerLink="/userprofile" routerLinkActive="active">My account</a></li>
        <li class = "navBarEl"><a routerLink="/post" routerLinkActive="active">Post</a></li>
        <li class = "navBarEl"><a routerLink="/login" routerLinkActive="active">Login</a></li>

    </ul>

</div>

<div>

    <div id = "userDetails">

        <div class = "upper-block" id = "first"></div>
        <div class = "upper-block" id = "second"></div>
        <div class = "upper-block" id = "third"></div>

        <div id = "content">

            <div id = "titleWrapper">
                <div id = "title">Your profile</div>
            </div>

            <div id = "usernameWrapper">
                <div id = "username">Username</div>
            </div>
            
            <div id = "userDetail">{{userDetails.username}}</div>

            <div id = "emailWrapper">
                <div id = "email">E-mail</div>
            </div>

            <div id = "emailDetail">{{userDetails.email}}</div>

        </div>
        
        <div id = "logoutWrapper" (mouseenter) = "btnOn()" (mouseleave) = "btnOff()" (click) = "onLogout()">
            <div id = "logout1">Logout</div>
            <div id = "logout2">Logout</div>
        </div>

    </div>

</div>