@font-face {
    src: url(../../assets/Mont-Bold.otf);
    font-family: mont-bold;
}

@font-face {
    src: url(../../assets/Mont-Regular.otf);
    font-family: mont-regular;
}

#userDetails {
    height: 92vh;
    width: 100%;
    overflow: hidden;
    background-color: white;
    position: relative;
    border: 1px solide blue;
}

.upper-block {
    height: 100%;
    width: 33.333%;
    background-color: black;
    position: absolute;
}

#second {
    left: 33.333%;
}

#third {
    right: 0;
}

#content {
    position: absolute;
    left: 2%;
    top: 4%;
    /* border: 1px solid red; */
}

#titleWrapper {
    font-family: mont-bold;
    font-size: 50px;
    height: 80px;
    width: 300px;
    overflow: hidden;
    position: relative;
    color: white;
    mix-blend-mode: difference;
}

#title {
    position: absolute;
}

#usernameWrapper {
    width: 160px;
    height: 45px;
    overflow: hidden;
    position: relative;
}

#emailWrapper {
    width: 160px;
    height: 45px;
    position: relative;
    overflow: hidden;
}

#username, #email {
    font-family: mont-bold;
    font-size: 30px;
    color: white;
    position: absolute;
    mix-blend-mode: difference;
}

#userDetail, #emailDetail {
    font-family: mont-regular;
    font-size: 20px;
}

#logoutWrapper {
    position: absolute;
    width: 110px;
    height: 45px; 
    top: 45%;
    left: 2%;
    color: white;
    font-family: mont-bold;
    font-size: 30px;
    overflow: hidden;
    cursor: pointer;
}

#logout1, #logout2 {
    position: absolute;
}

#logout2 {
    top: 80%;
}

#navBar {
    width: 100%;
    height: 63px;
    background-color: #f3f3f3;
    position: relative;
}

#siteNameWrapper {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    overflow: hidden;
    width: 77px;
    height: 26px;
    white-space: nowrap;
}

#siteName {
    font-size: 20px;
    font-family: mont-bold;
    position: absolute;
    left: -77px;
    color: black;
}

#siteName a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#navBarMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

#navBarMenu li {
    display: inline-block;
    margin-left: 50px;
    font-family: mont-regular;
}

#navBarMenu a {
    text-decoration: none;
    color: black;
}